requests
streamlit
numpy
matplotlib
pillow
streamlit-option-menu
opencv-python
pandas
jsonlib-python3
tensorflow>=2.6
plotly
google-generativeai
ipython
setuptools  # Added to resolve distutils issue
